<div class="mt-10">
  <div>
    <form>
      <!-- row-1 -->
      <div class="mb-6 grid gap-6 md:grid-cols-3">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Fecha de reg.:</label>
          <input
            formControlName="departamento"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Canal:</label>
          <input
            formControlName="provincia"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Estado:</label>
          <input
            formControlName="distrito"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
      </div>
      <!-- row-2 -->
      <div class="mb-6 grid gap-6 md:grid-cols-3">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Oficina:</label>
          <input
            formControlName="departamento"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Codigo Tupa:</label>
          <input
            formControlName="provincia"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Confidencial:</label>
          <input
            formControlName="distrito"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
      </div>
      <!-- row-3 -->
      <div class="mb-6 grid gap-6 md:grid-cols-5">
        <div class="col-span-3">
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Area:</label>
          <input
            formControlName="departamento"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div class="col-span-1">
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Tipo: </label>
          <input
            formControlName="provincia"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <div class="col-span-1">
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Folio(s):</label>
          <input
            formControlName="distrito"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
      </div>
      <!-- row-4 -->
      <div class="mb-6">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Proceso: </label>
          <input
            formControlName="domicilioLegal"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
      </div>
      <!-- row-4 -->
      <div class="mb-6">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Servicio TUPA: </label>
          <input
            formControlName="domicilioLegal"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
      </div>
      <!-- row-5 -->
      <div class="mb-6">
        <div>
          <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Usuario:</label>
          <input
            formControlName="domicilioLegal"
            type="text"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
      </div>
      <!-- row-6 -->
    </form>
  </div>

  <!-- Modal -->
  <app-modal-alert
    [showModal]="showModalAlert"
    (eventModal)="closeModalAlert($event)"
    [title]="title"
    [content]="content"></app-modal-alert>
</div>
