<form>
  <!-- form -->
  <div class="pt-5">
    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">N° Expediente:</label>
        <input
          type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
    </div>
    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Documento XEROX:</label>
        <input
          type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div>
        <button
          class="relative w-full rounded-lg border border-primary bg-transparent px-5 py-2.5 text-center text-sm font-medium text-primary text-white ring-primary/50 focus:outline-none focus:ring-4 hover:bg-primary hover:text-white sm:w-auto md:top-7">
          Actualizar XEROX
        </button>
      </div>
    </div>
    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div class="col-span-2">
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Documento XEROX:</label>
        <input
          type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
      <div>
        <button
          class="relative w-full rounded-lg border border-primary bg-transparent px-5 py-2.5 text-center text-sm font-medium text-primary text-white ring-primary/50 focus:outline-none focus:ring-4 hover:bg-primary hover:text-white sm:w-auto md:top-7">
          Seleccionar
        </button>
      </div>
    </div>

    <div class="mb-6">
      <div registrar-requisito-table class="md:col-span-2 xl:col-span-3"></div>
    </div>
  </div>
</form>
