<form [formGroup]="form">
  <!-- form -->
  <div class="pt-5">
    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div>
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">N° Expediente:</label>
        <input
          formControlName="nroExpediente"
          type="text"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
      </div>
    </div>

    <div class="mb-6 grid gap-6 md:grid-cols-3">
      <div class="col-span-2">
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Adjuntar Archivo:</label>
        <input
          formControlName="documento"
          type="file"
          name="file-input"
          id="file-input"
          class="file:me-4 block w-full rounded-lg border border-gray-300 bg-white text-sm shadow-sm file:mr-3 file:border-0 file:bg-primary file:py-3 file:px-4 file:text-white focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:file:bg-neutral-700 dark:file:text-neutral-400" />
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">
          Tipo de archivos permitidos PDF o JPG
        </p>
      </div>
    </div>

    <div class="mb-6">
      <div registrar-requisito-table class="md:col-span-2 xl:col-span-3"></div>
    </div>
  </div>
</form>
