<div class="mb-6">
  <div class="md:col-span-2 xl:col-span-3">
    <div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
      <div class="mb-4 flex items-center justify-between">
        <div>
          <h3 class="text-md font-bold text-foreground">Monto a pagar (S/.): {{ montoTotal }}</h3>
        </div>
        <div>
          <button
            (click)="toggleModal()"
            class="w-full rounded-lg border border-primary bg-transparent px-5 py-2.5 text-center text-sm font-medium text-primary text-white ring-primary/50 focus:outline-none focus:ring-4 hover:bg-primary hover:text-white sm:w-auto md:top-7">
            Insertar
          </button>
          <button
            class="mt-2 w-full rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white ring-primary/50 focus:outline-none focus:ring-4 sm:w-auto md:top-7 md:mt-0 md:ml-2">
            Eliminar
          </button>
        </div>
      </div>

      <!-- TODO: AGREGAR BOTONES INSERTAR - ELIMINAR -->

      <div class="relative mb-4 overflow-x-auto">
        <table class="w-full table-auto">
          <!--Table head-->
          <thead class="text-xs uppercase text-muted-foreground">
            <tr>
              <th class="py-3 text-left">Tipo de Pago</th>
              <th class="py-3 text-right">Banco Cuenta Corriente</th>
              <th class="py-3 text-right">Número de operación</th>
              <th class="py-3 text-right">Fecha</th>
              <th class="py-3 text-right">Monto</th>
            </tr>
          </thead>
          <!--end Table head-->
          <!--Table body-->
          <tbody>
            <tr
              *ngFor="let concepto of conceptoPago"
              [tipo]="2"
              [cptPago]="concepto"
              tupa-ge-detalle-table-item
              class="border-b border-dashed border-border hover:bg-card"></tr>
          </tbody>
          <!--end::Table body-->
        </table>
      </div>

      <app-tupa-ge-detalle-cp-modal
        [showModal]="showModal"
        (eventModal)="closeModal($event)"></app-tupa-ge-detalle-cp-modal>
    </div>
  </div>
</div>
