<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">{{ this.title }}</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <span>SOLICITANTE</span>
    </div>
  </div>

  <div *ngIf="!tupa" class="inline-block space-x-4">
    <button
      (click)="enviarSolicitud()"
      [disabled]="guardado"
      class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground disabled:opacity-60 hover:text-foreground">
      Guardar
    </button>
    <button
      (click)="finalizarProceso()"
      class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground disabled:opacity-60 hover:text-foreground"
      [disabled]="!guardado">
      Finalizar proceso
    </button>
    <button
      class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground hover:text-foreground">
      Cerrar
    </button>
  </div>
</div>

<app-modal-alert
  [showModal]="showModalAlert"
  (eventModal)="closeModalAlert($event)"
  [title]="title2"
  [content]="content"></app-modal-alert>
