<div
  *ngIf="showModal"
  class="fixed inset-0 z-30 flex items-center justify-center overflow-y-auto overflow-x-hidden outline-none focus:outline-none">
  <div class="relative my-6 mx-auto w-[1000px]">
    <!--content-->
    <div
      class="relative flex w-full flex-col rounded-lg border-0 bg-slate-100 px-4 shadow-lg outline-none focus:outline-none dark:bg-neutral-900">
      <!--header-->
      <h6
        class="mb-2 border-b border-dashed border-b-gray-600 px-2 py-4 text-lg font-bold text-gray-900 dark:text-white">
        Conceptos
      </h6>
      <!--body-->
      <!-- row-1 -->
      <form [formGroup]="form">
        <div class="mb-6">
          <label class="col-span-2 mb-2 text-sm font-medium text-gray-900 dark:text-white"> Servicio: </label>
          <select
            formControlName="concepto"
            name="area"
            (change)="selectServicio()"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary">
            <option value="">-- Seleccione --</option>
            <option *ngFor="let servicio of servicios" value="{{ servicio.codigo_Servicio_Tupa }}">
              {{ servicio.descripcion_Servicio }}
            </option>
          </select>
        </div>
        <!-- row-2 -->
        <div *ngIf="numExp">
          <div class="mb-6">
            <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Numero Expediente:</label
            >
            <input
              type="number"
              formControlName="expediente"
              autocomplete="false"
              class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
          </div>
        </div>

        <!-- row-3 -->
        <div class="mb-6">
          <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white">Cantidad:</label>
          <input
            type="number"
            id="first_name"
            (keyup)="selectServicio()"
            formControlName="cantidad"
            autocomplete="false"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
        <!-- row-4 -->
        <div class="mb-6">
          <label class="col-span-2 mb-2 block text-sm font-medium text-gray-900 dark:text-white">Costo(S/.):</label>
          <input
            type="number"
            id="first_name"
            formControlName="costo"
            class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary disabled:opacity-50 dark:border-gray-600 dark:text-white dark:focus:border-primary dark:focus:ring-primary" />
        </div>
      </form>
      <!--footer-->
      <div class="flex items-center justify-end rounded-b pb-4">
        <button
          class="mt-2 mr-2 w-full rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white ring-primary/50 focus:outline-none focus:ring-4 sm:w-auto md:top-7 md:mt-0 md:ml-2"
          type="button"
          (click)="agregarLista()">
          Aceptar
        </button>
        <button
          class="w-full rounded-lg border border-primary bg-transparent px-5 py-2.5 text-center text-sm font-medium text-primary text-white ring-primary/50 focus:outline-none focus:ring-4 hover:bg-primary hover:text-white sm:w-auto md:top-7"
          type="button"
          (click)="changeModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<app-modal-alert
  [showModal]="showModalAlert"
  (eventModal)="closeModalAlert($event)"
  [title]="title"
  [content]="content"></app-modal-alert>
<div *ngIf="showModal" class="fixed inset-0 z-20 bg-black opacity-25"></div>
